**/target
/Cargo.lock
!extern
extern/*
!extern/resources
extern/resources/*
!extern/resources/.resources
!extern/build
!extern/package.json
/root
/root/workflow-terminal
analyzer-target
examples/native/Cargo.lock
.DS_Store
